.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container .panel {
  margin: 2rem;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

form {
  margin-top: 1rem;
}

form div {
  margin: 0.4rem 0;
}